<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decemelev.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.decemelev.infra.modules.code.Code"></resultMap>
	
	<sql id="selectCommon">
		FROM infrCode a
		INNER JOIN infrCodeGroup b on a.infrCodeGroup_ifcgSeq = b.ifcgSeq
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND ifcgDelNy = #{shDelNy}</if>
			<if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if>
			<choose>
				<when test="shOption == 1">AND ifcdSeq = #{shValue}</when>
				<when test="shOption == 2">AND ifcdName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ifcdEngName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.*
				,b.*
			<include refid="selectCommon" />
			ORDER BY a.ifcdSeq DESC
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<insert id="insert">
		INSERT INTO infrCode (
			ifcdName
			,ifcdEngName
			,ifcdUseNy
			,ifcdOrder
			,infrCodeGroup_ifcgSeq
		)
		VALUES (
			#{ifcdName}
			,#{ifcdEngName}
			,1
			,#{ifcdOrder}
			,#{infrCodeGroup_ifcgSeq}
		)
		<selectKey resultType="String" keyProperty="ifcdSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
 	
 	<select id="selectOneCount" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM infrCode a
		INNER JOIN infrCodeGroup b on a.infrCodeGroup_ifcgSeq = b.ifcgSeq
	</select>
 	
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
			,b.*
		FROM infrCode a
		INNER JOIN infrCodeGroup b on a.infrCodeGroup_ifcgSeq = b.ifcgSeq
		WHERE 1=1
			AND ifcdSeq = #{ifcdSeq}
	</select>
 	
 	<update id="update">
		UPDATE infrCode
		SET
			ifcdName = #{ifcdName}
			,ifcdEngName = #{ifcdEngName}
			<!-- <include refid="Base.updateModColumnValue" /> -->
		WHERE 
			ifcdSeq = #{ifcdSeq}
	</update>
	
	<update id="uelete">
		UPDATE infrCode
		SET
			ifcdDelNy = 1
			<!-- <include refid="Base.updateModColumnValue" /> -->
		WHERE ifcdSeq = #{ifcdSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM infrCodeGroup WHERE ifcdSeq = #{ifcdSeq}
	</delete>
 	
</mapper>