<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decemelev.infra.modules.login.LoginMapper">
	
	<resultMap id="resultMapObj" type="com.decemelev.infra.modules.login.Login"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
		FROM infrMember a
		WHERE 1=1
		ORDER BY a.ifmmSeq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO infrMember (
			ifmmName
			,ifmmId
		)
		VALUES (
			#{ifmmName}
			,{ifmmId}
		)
		<selectKey resultType="String" keyProperty="ifmmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	</insert>

</mapper>