<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decemelev.infra.modules.login.LoginMapper">
	
	<resultMap id="resultMapObj" type="com.decemelev.infra.modules.login.Login"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
		FROM infrMember a
		WHERE 1=1
		ORDER BY a.ifmmSeq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO infrMember (
			ifmmName
			,ifmmId
			,ifmmPassword
			,ifmmGender
			,ifmmDob
			,ifmmEmailDomain
			,ifmmEmail
			,ifmmPhoneCarrier
			,ifmmPhone
			,ifmmAddress
			,ifmmDelNy
			,ifmmMailNy
			,ifmmSmsNy
			,ifmmPostNum
			,ifmmResidence
			,ifmmDetailedAddress
			,ifmmReference
			,ifmmSnsLogin
		)
		VALUES (
			#{ifmmName}
			,#{ifmmId}
			,#{ifmmPassword}
			,#{ifmmGender}
			,#{ifmmDob}
			,#{ifmmEmailDomain}
			,#{ifmmEmail}
			,#{ifmmPhoneCarrier}
			,#{ifmmPhone}
			,#{ifmmAddress}
			,0
			,#{ifmmMailNy}
			,#{ifmmSmsNy}
			,#{ifmmPostNum}
			,#{ifmmResidence}
			,#{ifmmDetailedAddress}
			,#{ifmmReference}
			,1
		)
		<selectKey resultType="String" keyProperty="ifmmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<!-- 카카오 로그인 -->
	<insert id="kakaoInst">
		INSERT INTO infrMember (
			ifmmGender
			,ifmmEmail
			,ifmmSnsLogin
			,ifmmName
			,ifmmId
		)
		VALUES (
			#{gender}
			,#{email}
			,2
			,#{name}
			,#{snsId}
		)
		<selectKey resultType="String" keyProperty="ifmmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="snsLoginCheck" resultMap="resultMapObj">
		SELECT
			ifmmEmail
			,ifmmName
			,ifmmSeq
			,ifmmId
			,ifmmSnsLogin
		FROM infrMember a
		WHERE 1=1 
			AND ifmmEmail = #{email}
			AND ifmmSnsLogin = 2
	</select>
	<!-- 카카오 로그인 -->
	<select id="selectOneIdCheck" resultType="Integer">
		SELECT
			count(*)
		FROM infrMember a
		WHERE 1=1 
			AND ifmmId = #{ifmmId}
	</select>
	
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT
			a.ifmmSeq
			,a.ifmmId
		FROM infrMember a
		WHERE 1=1 
			AND a.ifmmId = #{ifmmId}
	</select>
	<select id="selectOneId1" resultMap="resultMapObj">
		SELECT
			a.ifmmSeq
			,a.ifmmEmail
		FROM infrMember a
		WHERE 1=1 
			AND a.ifmmEmail = #{ifmmEmail}
	</select>
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			a.ifmmSeq
			,a.ifmmId
			,a.ifmmPassword
			,a.ifmmName
		FROM infrMember a
		WHERE 1=1 
			AND a.ifmmId = #{ifmmId}
			AND a.ifmmPassword = #{ifmmPassword}
			<!-- <if test="ifmmPassword != null and !ifmmPassword.equals('')">AND a.ifmmPassword = #{ifmmPassword}</if> -->
			
	</select>
	<select id="selectOneLogin1" resultMap="resultMapObj">
		SELECT
			a.ifmmSeq
			,a.ifmmEmail
			,a.ifmmPassword
			,a.ifmmName
		FROM infrMember a
		WHERE 1=1 
			AND a.ifmmEmail = #{ifmmEmail}
			AND a.ifmmPassword = #{ifmmPassword}
			AND a.ifmmSeq = "144"
			<!-- <if test="ifmmPassword != null and !ifmmPassword.equals('')">AND a.ifmmPassword = #{ifmmPassword}</if> -->
			
	</select>
</mapper>