<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decemelev.infra.modules.home.HomeMapper">

	<resultMap id="resultMapObj"
		type="com.decemelev.infra.modules.home.Home"></resultMap>
	
	<select id="selectWordCount" resultType="Integer">
		SELECT
			COUNT(*)
		FROM sdFavorite
		WHERE 1=1
		AND infrMember_ifmmSeq = #{mainKey}
	</select>
	
	<select id="favoriteList" resultMap="resultMapObj">
		SELECT
		a.sdwSeq
		,a.sdwNum
		,a.sdwWord
		,b.sddDateChoice
	    ,c.sdfDelNY
	    ,c.infrMember_ifmmSeq
		FROM sdWord a
		INNER JOIN sdDate b on b.sddSeq=a.sdDate_sddSeq
	    INNER JOIN sdFavorite c on c.sdWord_sdwSeq = a.sdwSeq
		WHERE 1=1
		AND b.sddDateChoice = #{sddDateChoice}
		AND c.infrMember_ifmmSeq= #{mainKey}
	</select>
	<select id="selectList" resultMap="resultMapObj">
		SELECT
		a.sdwSeq
		,a.sdwWord
		,a.sdwNum
		,b.sddDateChoice
		FROM sdWord a
		INNER JOIN sdDate b on b.sddSeq=a.sdDate_sddSeq
		WHERE 1=1
		AND b.sddDateChoice = #{sddDateChoice}
	</select>
	<select id="wordList" resultMap="resultMapObj">
		SELECT
		a.sdwSeq
		,a.sdwWord
		,b.sddDateChoice
		FROM sdWord a
		INNER JOIN sdDate b on b.sddSeq=a.sdDate_sddSeq
		WHERE 1=1
	</select>
	
	<select id="selectContents" resultMap="resultMapObj">
		SELECT
		a.sdwSeq
		,a.sdwWord
		,c.sdwmNum
		,c.sdwmPartOfSpeech
		,c.sdwmContents
		,d.sdweContents
		,d.sdweTranslate
		,b.sddDateChoice
		FROM sdWord a
		INNER JOIN sdDate b on b.sddSeq=a.sdDate_sddSeq
		INNER JOIN sdwMean c on c.sdWord_sdwSeq=a.sdwSeq
		INNER JOIN sdwExample d on d.sdwMean_sdwmSeq=c.sdwmSeq
		WHERE 1=1
		AND b.sddDateChoice = #{sddDateChoice}
	</select>
	<select id="wordContents" resultMap="resultMapObj">
		SELECT
		a.sdwSeq
		,a.sdwWord
		,c.sdwmNum
		,c.sdwmPartOfSpeech
		,c.sdwmContents
		,d.sdweContents
		,d.sdweTranslate
		,b.sddDateChoice
		FROM sdWord a
		INNER JOIN sdDate b on b.sddSeq=a.sdDate_sddSeq
		INNER JOIN sdwMean c on c.sdWord_sdwSeq=a.sdwSeq
		INNER JOIN sdwExample d on d.sdwMean_sdwmSeq=c.sdwmSeq
		WHERE 1=1
	</select>
	<select id="myWordList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
		a.sdfDelNY
		,b.ifmmName
		,c.sdwWord
		,d.sddDateChoice
		FROM sdFavorite a
		inner join infrMember b on b.ifmmSeq=a.infrMember_ifmmSeq
		inner join sdWord c on c.sdwSeq=a.sdWord_sdwSeq
		inner join sdDate d on d.sddSeq=c.sdDate_sddSeq
		WHERE 1=1
			and b.ifmmSeq= #{mainKey}
		group by c.sdwWord
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysqlMypage" />
	</select>
	<select id="myWordContents" resultMap="resultMapObj">
		select
			a.sdfDelNY
		    ,b.ifmmName
		    ,c.sdwWord
		    ,d.sddDateChoice
		    ,e.sdwmPartOfSpeech
		    ,e.sdwmContents
		    ,e.sdwmNum
		    ,f.sdweContents
		    ,f.sdweTranslate
		from  sdFavorite a
		inner join infrMember b on b.ifmmSeq=a.infrMember_ifmmSeq
		inner join sdWord c on c.sdwSeq=a.sdWord_sdwSeq
		inner join sdDate d on d.sddSeq=c.sdDate_sddSeq
		inner join sdwMean e on e.sdWord_sdwSeq=c.sdwSeq
		inner join sdwExample f on f.sdwMean_sdwmSeq=e.sdwmSeq
		where 1=1
			and b.ifmmSeq= #{mainKey}
	</select>

	<select id="selectTest" resultMap="resultMapObj">
		select
			a.sdwNum
		    ,SUBSTRING_INDEX(SUBSTRING_INDEX(d.sdweContents, a.sdwWord, 1), a.sdwWord, -1) as first
			,SUBSTRING_INDEX(SUBSTRING_INDEX(d.sdweContents, a.sdwWord, 2), a.sdwWord, -1) as second
		    ,d.sdweTranslate
		    ,a.sdwWord
		    ,b.sddDateChoice
		    ,e.sdDate_sddSeq
		from sdWord a
		inner join sdDate b on b.sddSeq=a.sdDate_sddSeq
		inner join sdwMean c on c.sdWord_sdwSeq=a.sdwSeq
		inner join sdwExample d on d.sdwMean_sdwmSeq=c.sdwmSeq
		inner join sdTotalResult e on e.sdDate_sddSeq=b.sddSeq
		where 1=1 
		    AND d.sdweDefaultNy = 1
		    AND b.sddDateChoice = #{sddDateChoice}
		group by a.sdwNum
		    

	</select>
	<select id="testDate" resultMap="resultMapObj">
		SELECT
			a.sddDateChoice
		FROM sdDate a
		WHERE 1=1
			AND a.sddDateChoice = #{sddDateChoice}
	</select>

	<select id="selectRank" resultMap="resultMapObj">
		select
			a.infrMember_ifmmSeq
			,(select aa.ifmmName from infrMember aa where 1=1 and aa.ifmmSeq = a.infrMember_ifmmSeq) as name
			,sum(a.sdtrsTotalScore) as sum
			,(rank() over (order by sum(a.sdtrsTotalScore) desc)) as ranking
		from sdTotalResult a
		join sdDate b on b.sddSeq = a.sdDate_sddSeq
		where 1=1
		and b.sddDateChoice between "2022-07-25" and "2022-07-27"
		group by a.infrMember_ifmmSeq
		order by sum desc limit 6
	</select>
	<select id="selectRank1" resultMap="resultMapObj">
		select
			a.infrMember_ifmmSeq
			,(select aa.ifmmName from infrMember aa where 1=1 and aa.ifmmSeq = a.infrMember_ifmmSeq) as name
			,sum(a.sdtrsTotalScore) as sum
			,(rank() over (order by sum(a.sdtrsTotalScore) desc)) as ranking
		from sdTotalResult a
		join sdDate b on b.sddSeq = a.sdDate_sddSeq
		where 1=1
		and b.sddDateChoice between "2022-07-25" and "2022-07-27"
		group by a.infrMember_ifmmSeq
		order by sum desc
	</select>
	
	<select id="memberList" resultMap="resultMapObj">
		select
			a.*
		FROM infrMember a
		WHERE 1=1
			AND ifmmSeq = #{mainKey}
	</select>
	
	<update id="update">
		UPDATE infrMember
		SET
			ifmmName = #{ifmmName}
			,ifmmGender = #{ifmmGender}
			,ifmmDob = #{ifmmDob}
			,ifmmEmail = #{ifmmEmail}
			,ifmmEmailDomain = #{ifmmEmailDomain}
			,ifmmPhoneCarrier = #{ifmmPhoneCarrier}
			,ifmmPhone = #{ifmmPhone}
			,ifmmAddress = #{ifmmAddress}
			,ifmmPostNum = #{ifmmPostNum}
			,ifmmResidence = #{ifmmResidence}
			,ifmmDetailedAddress = #{ifmmDetailedAddress}
			,ifmmReference = #{ifmmReference}
			,ifmmSmsNy = #{ifmmSmsNy}
			,ifmmMailNy = #{ifmmMailNy}
		WHERE 1=1
			AND ifmmSeq = #{ifmmSeq}
	</update>
	
	<update id="pwdUpdate">
		UPDATE infrMember
		SET
			ifmmPassword = #{ifmmPassword}
		WHERE 1=1
			AND ifmmSeq = #{ifmmSeq}
	</update>
	
	<select id="selectOnePwdCheck" resultType="Integer">
		SELECT
			count(*)
		FROM infrMember a
		WHERE 1=1
			AND ifmmPassword = #{ifmmPassword}
	</select>
	
	<select id="selectListUploaded" resultMap="resultMapObj">
		SELECT 
			seq
			,type
			,defaultNy
			,path
			,originalName
			,uuidName
		FROM infrMemberUploaded
		WHERE 1=1
			AND delNy = 0
			AND pseq = #{mainKey}
		ORDER BY
			type, sort
	</select>
	
	<update id="uploadedUpdate">
		UPDATE infrMemberUploaded
		SET
			type = #{type}
			,defaultNy = #{defaultNy}
			,sort = #{sort}
			,path = #{path}
			,originalName = #{originalName}
			,uuidName = #{uuidName}
			,ext = #{ext}
			,size = #{size}
		WHERE 1=1
			AND delNy = 0
			AND pseq = #{ifmmSeq}
	</update>
	
	<insert id="insert">
		INSERT INTO sdTotalResult (
			infrMember_ifmmSeq
			,sdtrsTotalScore
			,sdDate_sddSeq
		)
		VALUES (
			#{ifmmSeq}
			,#{sdtrsTotalScore}
			,#{sdDate_sddSeq}
		)
	</insert>
	<insert id="likeInsert">
		INSERT INTO sdFavorite (
			infrMember_ifmmSeq
			,sdWord_sdwSeq
			,sdfDelNY
		)
		VALUES (
			#{infrMember_ifmmSeq}
			,#{sdWord_sdwSeq}
			,0
		)
	</insert>
	<select id="selectOneWordCount" resultType="Integer">
		SELECT
			COUNT(*)
		FROM sdFavorite
		WHERE 1=1
			AND infrMember_ifmmSeq = #{mainKey}
			AND sdWord_sdwSeq = #{sdWord_sdwSeq}
	</select>
	
	<update id="likeUpdate">
		UPDATE sdFavorite
		SET
			sdfDelNY = 1
			,infrMember_ifmmSeq = #{infrMember_ifmmSeq}
			,sdWord_sdwSeq = #{sdwSeq}
		WHERE 1=1
	</update>
	
	
	
</mapper>	