<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decemelev.infra.modules.home.HomeMapper">

	<resultMap id="resultMapObj"
		type="com.decemelev.infra.modules.home.Home"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
		a.sdwSeq
		,a.sdwWord
		FROM sdWord a
		WHERE 1=1

	</select>
	
	<select id="selectContents" resultMap="resultMapObj">
		SELECT
		a.sdwSeq
		,a.sdwWord
		,c.sdwmPartOfSpeech
		,c.sdwmContents
		,d.sdweContents
		,d.sdweTranslate
		,b.sddDateChoice
		FROM sdWord a
		INNER JOIN sdDate b on b.sddSeq=a.sdDate_sddSeq
		INNER JOIN sdwMean c on c.sdWord_sdwSeq=a.sdwSeq
		INNER JOIN sdwExample d on d.sdwMean_sdwmSeq=c.sdwmSeq
		WHERE 1=1

	</select>

	<select id="selectTest" resultMap="resultMapObj">
		SELECT
		a.sdqNumber
		,a.sdqKo
		,a.sdqEng
		,a.sdqAnswer
		,b.sddDateChoice

		FROM sdTestQuestion a
		INNER JOIN sdDate b on b.sddSeq=a.sdDate_sddSeq
		WHERE
		1=1

	</select>

	<select id="selectRank" resultMap="resultMapObj">
		select
		a.infrMember_ifmmSeq
		,(select aa.ifmmName from infrMember aa where 1=1 and aa.ifmmSeq =
		a.infrMember_ifmmSeq) as name
		,a.sdtrsTotalScore
		,sum(a.sdtrsTotalScore) as sum

		from sdTotalResult a
		join sdDate b on b.sddSeq = a.sdDate_sddSeq
		where 1=1
		and b.sddDateChoice between "2022-07-25" and "2022-07-27"
		group by a.infrMember_ifmmSeq
		order by sum
	</select>
	
	<select id="memberList" resultMap="resultMapObj">
		select
			a.*
		FROM infrMember a
		WHERE 1=1
			AND ifmmSeq = #{mainKey}
	</select>
	
	<update id="update">
		UPDATE infrMember
		SET
			ifmmName = #{ifmmName}
			,ifmmGender = #{ifmmGender}
			,ifmmDob = #{ifmmDob}
			,ifmmEmail = #{ifmmEmail}
			,ifmmEmailDomain = #{ifmmEmailDomain}
			,ifmmPhoneCarrier = #{ifmmPhoneCarrier}
			,ifmmPhone = #{ifmmPhone}
			,ifmmAddress = #{ifmmAddress}
			,ifmmPostNum = #{ifmmPostNum}
			,ifmmResidence = #{ifmmResidence}
			,ifmmDetailedAddress = #{ifmmDetailedAddress}
			,ifmmReference = #{ifmmReference}
			,ifmmSmsNy = #{ifmmSmsNy}
			,ifmmMailNy = #{ifmmMailNy}
		WHERE 1=1
			AND ifmmSeq = #{ifmmSeq}
	</update>
	
	<update id="pwdUpdate">
		UPDATE infrMember
		SET
			ifmmPassword = #{ifmmPassword}
		WHERE 1=1
			AND ifmmSeq = #{ifmmSeq}
	</update>
	
	<select id="selectOnePwdCheck" resultType="Integer">
		SELECT
			count(*)
		FROM infrMember a
		WHERE 1=1
			AND ifmmPassword = #{ifmmPassword}
	</select>
	
	<select id="selectListUploaded" resultMap="resultMapObj">
		SELECT 
			seq
			,type
			,defaultNy
			,path
			,originalName
			,uuidName
		FROM infrMemberUploaded
		WHERE 1=1
			AND delNy = 0
			AND pseq = #{mainKey}
		ORDER BY
			type, sort
	</select>
	
	<update id="uploadedUpdate">
		UPDATE infrMemberUploaded
		SET
			type = #{type}
			,defaultNy = #{defaultNy}
			,sort = #{sort}
			,path = #{path}
			,originalName = #{originalName}
			,uuidName = #{uuidName}
			,ext = #{ext}
			,size = #{size}
		WHERE 1=1
			AND delNy = 0
			AND pseq = #{ifmmSeq}
	</update>
	
</mapper>	