<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decemelev.infra.modules.home.HomeMapper">

    <resultMap id="resultMapObj" type="com.decemelev.infra.modules.home.Home"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
		    a.sdwWord
		    ,c.sdwmPartOfSpeech
		    ,c.sdwmContents
		    ,d.sdweContents
		    ,d.sdweTranslate
		    ,b.sddDateChoice
		FROM sdWord a
		INNER JOIN sdDate b on b.sddSeq=a.sdDate_sddSeq
		INNER JOIN sdwMean c on c.sdWord_sdwSeq=a.sdwSeq
		INNER JOIN sdwExample d on d.sdWord_sdwSeq=a.sdwSeq
		WHERE 1=1 
		GROUP BY a.sdwWord
		
	</select> 
</mapper>	