#colPadding {
	padding-bottom: 10px;
}

[id="heart1"] {
  position: absolute;
  left: -100vw;
}

[for="heart1"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 1em;
  align-self: center;  
  transition: color 0.2s ease-in-out;
}

[for="heart1"]:hover {
  color: grey;
}

[for="heart1"]::selection {
  color: none;
  background: transparent;
}

[for="heart1"]::moz-selection {
  color: none;
  background: transparent;
}

[id="heart1"]:checked + label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}

@keyframes heart {0%, 17.5% {font-size: 0;}}