<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decemelev.infra.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.decemelev.infra.modules.member.Member"></resultMap>
	
	<sql id="selectCommon">
		FROM infrMember a
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND ifmmDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ifmmSeq = #{shValue}</when>
				<when test="shOption == 2">AND ifmmName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ifmmNickName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
			SELECT
				a.*
			FROM infrMember a
	</select> 
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM infrMember a
		WHERE 1=1
			AND ifmmSeq = #{ifmmSeq}
	</select>
	
	<insert id="insert">
		INSERT INTO infrMember (
			ifmmName
			,ifmmNickName
			)
		VALUES (
			#{ifmmName}
			,#{ifmmNickName}
		)
		<selectKey resultType="String" keyProperty="ifmmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE infrMember
		SET
			ifmmName = #{ifmmName}
			,ifmmNickName = #{ifmmNickName}
			<!-- <include refid="Base.updateModColumnValue" /> -->
		WHERE 
			ifmmSeq = #{ifmmSeq}
	</update>
	
	<update id="uelete">
		UPDATE infrMember
		SET
			ifmmDelNy = 1
			<!-- <include refid="Base.updateModColumnValue" /> -->
		WHERE ifmmSeq = #{ifmmSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM infrMember WHERE ifmmSeq = #{ifmmSeq}
	</delete>

</mapper>	