<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decemelev.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.decemelev.infra.modules.codegroup.CodeGroup"></resultMap>
	<!-- 
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(select count(ifcdName) from infrCode aa where 1=1 and aa.infrCodeGroup_ifcgSeq = a.ifcgSeq) as count
		FROM infrCodeGroup a
		WHERE 1=1
			AND ifcgDelNy = 0
			<if test="shDelNy != null and !shDelNy.equals('')">AND ifcgDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ifcgSeq = #{shValue}</when>
				<when test="shOption == 2">AND ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ifcgEngName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</select> 
	 -->
	
	<sql id ="selectCommon">
		FROM infrCodeGroup a
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND ifcgDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ifcgSeq = #{shValue}</when>
				<when test="shOption == 2">AND ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ifcgEngName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT
				a.*
				,(select count(ifcdName) from infrCode aa where 1=1 and aa.infrCodeGroup_ifcgSeq = a.ifcgSeq) as count
			<include refid="selectCommon" />
			ORDER BY a.ifcgSeq DESC
			<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		FROM infrCodeGroup a
		WHERE 1=1
			AND ifcgSeq = #{ifcgSeq}
	</select>
	
	
	<insert id="insert">
		INSERT INTO infrCodeGroup (
			ifcgName
		    ,ifcgEngName
		    ,ifcgUseNy
		    ,ifcgOrder
		    ,ifcgRegDate
			)
		VALUES (
			#{ifcgName}
		    ,#{ifcgEngName}
		    ,1
		    ,#{ifcgOrder}
		    ,#{ifcgRegDate}
		)
		<selectKey resultType="String" keyProperty="ifcgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE infrCodeGroup
		SET
			ifcgName = #{ifcgName}
			,ifcgEngName = #{ifcgEngName}
			<!-- <include refid="Base.updateModColumnValue" /> -->
		WHERE 
			ifcgSeq = #{ifcgSeq}
	</update>
	
	<update id="uelete">
		UPDATE infrCodeGroup
		SET
			ifcgDelNy = 1
			<!-- <include refid="Base.updateModColumnValue" /> -->
		WHERE ifcgSeq = #{ifcgSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM infrCodeGroup WHERE ifcgSeq = #{ifcgSeq}
	</delete>

</mapper>	