<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.decemelev.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.decemelev.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			,(select count(ifcdName) from infrCode aa where 1=1 and aa.infrCodeGroup_ifcgSeq = a.ifcgSeq) as count
		FROM infrCodeGroup a
		WHERE 1=1
			
			<if test="shUseNy != null and !shUseNy.equals('')">AND ifcgUseNy = #{shUseNy}</if>
			<choose>
				<when test="shOption == 1">AND ifcgSeq = #{shValue}</when>
				<when test="shOption == 2">AND ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ifcgEngName LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>


	</select> 

</mapper>	